@{
    ViewBag.Title = "About us";
}
<h2 style="font-family:initial;color:white">@ViewBag.Title.</h2>

<p style="font-family: initial; color:white">Several studies produced over the past couple of decades demonstrate how music can influence the wines people buy—and even how a wine’s taste is perceived. A 1999 study by members of the psychology department at the University of Leicester, published in the Journal of Applied Psychology, analyzed 82 wine buyers in a suburban English supermarket. The team found that when shoppers heard French music in the store, French wine outsold German wine by a ratio of five to one. Likewise, when German music was playing, German wines sold well. (No mention was made of California wines, but maybe Beach Boys music was hard for an English supermarket to track down.)

</p>
