@{
    ViewBag.Title = "Contact";
}
<h2 style="font-family:initial; color:white">@ViewBag.Title.</h2>


<address style="font-family: initial; color: white">
    1111 KVCC way<br />
    Las Vegas, NV 89119<br />
    <abbr title="Phone"style="font-family:initial; color:white">P:</abbr>
    123.456.7890
</address>

