@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: navy;">
    
    <h1 style="font-family: initial; color: darkgray">The Great Winers</h1>
    <p class="lead" style="font-family:initial; color: white">Here at The Great Winers, wine is one passion. We live, breath, and of course drink it. Thats why you can finde every available wine in any
    market world wide, and it's price. We take wine very seriously, so that's why we give every one a chance to even submit their own wines to use for tasting
    to be included in our list. Welcome to the Forbes list of wine, the only thing that would make it better would be cheese!</p>
    <p style="font-family: initial"><a href="http://localhost:52352/Home/About" class="btn btn-primary btn-lg">About Us &raquo;</a></p>
</div>

<div class="row" style="background: whitesmoke;">
    <div class="col-md-4" style="background: navajowhite;">
        <h2 style="font-family:initial;color:darkgray">Contact Us</h2>
        <p style="font-family: initial">
           We like to believe that all wines entrepreneurs should have a fair chance to have their creations seen
        </p>
        <p style="font-family: initial">Contact<a class="btn btn-default" href="http://localhost:52352/Home/Contact"> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family:initial">Come in and vist us today for free samples!</h2>
        <p></p>
    </div>
    <div class="col-md-4" style="background: navajowhite;">
        <h2 style="font-family:initial;color:darkgray;">Our Wine List</h2>
        <p style="font-family: initial">Here are all the wines in the world, presented to you by yours truly, Add your wine, edit wines, sort them, and filter</p>
        <p style="font-family: initial"><a class="btn btn-default" href="http://localhost:52352/Beverages/Index">Wine List &raquo;</a></p>
    </div>
</div>